In [4]:
import pandas as pd
import numpy as np
import seaborn as sds
import os

In [6]:
dt = pd.read_csv(os.path.join(os.getcwd(),"data","Frog_Occurence_Australia.csv"))

In [9]:
dt.head()

,gbifID,abstract,accessRights,accrualMethod,accrualPeriodicity,accrualPolicy,alternative,audience,available,bibliographicCitation,...,identifiedByID,level0Gid,level0Name,level1Gid,level1Name,level2Gid,level2Name,level3Gid,level3Name,iucnRedListCategory
0,2556820701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LC
1,2556820702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.7_1,Queensland,AUS.7.62_1,Sunshine Coast,NaN,NaN,VU
2,2556820705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.5_1,New South Wales,AUS.5.35_1,Coffs Harbour,NaN,NaN,EN
3,2556820707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.6_1,Northern Territory,AUS.6.9_1,Litchfield,NaN,NaN,LC
4,2556820709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,AUS,Australia,AUS.7_1,Queensland,AUS.7.62_1,Sunshine Coast,NaN,NaN,LC

In [14]:
dt = dt.dropna(axis=0, how='any', thresh=None, subset=None)
dt.shape

(0, 250)